<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam vero dolores nesciunt ea voluptatem rerum eos possimus dolorum dolorem. Corrupti consectetur fugiat ex vero explicabo provident cum hic voluptatibus temporibus.</p>

<%- include("footer") -%>